---
title: My cool post
description: This is the description of my cool post.
date: 2024-01-31
---

<script lang="ts">
    import Counter from './components/counter.svelte';
</script>

## Introduction

<Counter />

This is the introduction of my cool wlan.

## The story

This is the story of my cool wlan.

## Conclusion

This is the conclusion of my cool wlan.
